.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scrollable-list {
  display: flex;
  overflow-x: auto;
}

.scrollable-list img {
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styles.css */

/* Couleurs principales */
:root {
  --color-primary: orange;
  --color-secondary: black;
  --color-text: white; /* Ajout de la couleur du texte */
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
  color: var(--color-text); /* Utilisation de la couleur du texte */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: var(--color-primary);
}

/* Barre de recherche */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 400px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Liste de films */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card h3 {
  padding: 10px;
  font-size: 16px;
}

/* Styles spécifiques à l'apparence de streaming */
.movie-list {
  padding: 20px 0;
}

.movie-card {
  transition: transform 0.2s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajoutez d'autres styles CSS selon vos besoins */
